.pdf {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../image/pdf.png');
    background-position: center;
    background-size: cover;
    margin-right: 5px;

}
.jpg {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../image/jpg.png');
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}
.docx {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../image/docx.png');
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}
.xlsx {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../image/xlsx.png');
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}
.pptx {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../image/pptx.png');
    background-position: center;
    background-size: cover;
    margin-right: 5px;
}
.my-link {
    padding: 10px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
  }
  
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../image/pdf.png');
    background-position: center;
    background-size: cover;
    margin-right: 5px;
  }