header {
    position: sticky;
    top: 0;
    z-index: 99;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
}

.img-integrante {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.img-grupal {
    width: 20%;
    padding-left: 25px;
}

.li-position {
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 110px;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
    top: 15px;
    margin-left: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #565656;}