
img{
    width: 95px;
    height: 112px;
    float: right;
    margin: 5px;
    border: 5px solid white;
    box-shadow: 0 0 10px black;
}

.separator{
    height: 1px;
    background-color: black;
    margin: 20px 0px;
}

.paragraph{
    clear: both;
}

.container{
    width: 595px;
    margin: auto;
    padding: 30px;
    background-color: blanchedalmond;
}

.content{
    float: right;
    width: 369px;
}

.caption {
    display: block;
}

.text_image {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    align-items: center;
    font-size: small;
}

body{
    background-color: #9f9494;
}

